body{
  font-family: 'Trefoil sans'
}

.mainBA{
  width: 300px;
}
.titleBA{
  color: #57b372;
  font-size: 13pt;
  font-weight: 600;
  margin-bottom: -5px !important;
  text-align: center;
  display: inline-block;
}
.contentBA{
  padding: 20px 10px 0px 20px !important;
  border: 1px solid #00ae58 !important;
  border-radius:15px !important;
  width: 278px !important;
  height: 100%;
  line-height: 10px;
  overflow: auto;
  word-wrap: none;
}
.starBA{
  margin-bottom: -8px !important; 
  margin-left: 40px !important;
  height: 40px;
  width: 40px;
  background-image: url('./Birthdays-Anniversaries.png');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  display: inline-block;
}
.imgBA{
  height: 60px;
  width: 60px;
  border-radius: 50px;
}
.liBA{
  margin-bottom: 15px;
  list-style: none;
}
.personWrapperBA{
  display: inline-block;
}
.imageBA{
  border: 1px solid black;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}
.nameBA{
  font-weight: 600;
  font-size: 12pt;
}
.positionBA{
  font-size: 9pt;
  margin-bottom: 17px;
  margin-top: 8px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.reasonBA{
  font-size: 9pt;
  font-style: italic;
}
