body{
  font-family: 'Trefoil sans'
}

.mainBA{
  width: 300px;
}
.titleBA{
  color: #57b372;
  font-size: 13pt;
  font-weight: 600;
  margin-bottom: -15px;
  text-align: center;
  display: inline-block;
}
.contentBA{
  padding: 10px 10px 10px 20px;
  border: 2px solid #57b372;
  border-radius: 5px;
  width: 300px;
  height: 65px;
  line-height: 10px;
  overflow: auto;
  word-wrap: none;
}
.starBA{
  margin-bottom: -15px;
  margin-left: 40px;
  height: 40px;
  width: 40px;
  background-image: url('./Birthdays-Anniversaries.png');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  display: inline-block;
}
.imgBA{
  height: 60px;
  width: 60px;
  border-radius: 50px;
}
.liBA{
  margin-bottom: 15px;
  list-style: none;
}
.personWrapperBA{
  display: inline-block;
}
.imageBA{
  border: 1px solid black;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}
.nameBA{
  font-weight: 600;
  font-size: 12pt;
}
.positionBA{
  font-size: 9pt;
  margin-bottom: 17px;
  margin-top: 8px;
}
.reasonBA{
  font-size: 9pt;
  font-style: italic;
}
